<div class="cw-doc-control-panel">
  <h1 class="cw-doc-control-panel__title">{{ title() }}</h1>

  <div class="cw-doc-control-panel__controls">
    <button
      [disabled]="zoomService.isMin()"
      (click)="zoomService.decrementZoom()"
    >
      -
    </button>
    <span class="cw-doc-control-panel__zoom-value">{{ displayZoom() }}</span>
    <button
      [disabled]="zoomService.isMax()"
      (click)="zoomService.incrementZoom()"
    >
      +
    </button>
    <span class="cw-doc-control-panel__save">
      <ng-content select="[slot='save-document']" />
    </span>
  </div>
</div>
