<div class="cw-doc-control-panel">
  <h1 class="cw-doc-control-panel__title">{{ title() }}</h1>

  <div class="cw-doc-control-panel__controls">
    <button
      [disabled]="zoom() === zoomLevels[0]"
      (click)="zoomService.changeZoom(false)"
    >
      -
    </button>
    <span class="cw-doc-control-panel__zoom-value">{{ displayZoom() }}</span>
    <button
      [disabled]="zoom() === zoomLevels.at(-1)"
      (click)="zoomService.changeZoom(true)"
    >
      +
    </button>
    <button class="cw-doc-control-panel__save" (click)="emitSave()">
      Сохранить
    </button>
  </div>
</div>
