<article class="cw-document-layout">
  <header class="cw-document-layout__header">
    <ng-content select="[slot='header']" />
  </header>

  <div
    class="cw-document-layout__scrollport"
    cwAnnotationAdding
    [annotationsContainerRef]="annotationsContainerRef"
    [style.zoom]="zoom()"
  >
    <div class="cw-document-layout__body" cwDocumentDimensions>
      <ng-content select="[slot='pages-list']" />

      <div class="cw-document-layout__annotations" #annotationsContainerRef>
        <ng-content select="[slot='annotations-list']" />
      </div>
    </div>
  </div>
</article>
