@let data = documentData();

@if (data) {
  <article class="cw-document">
    <header class="cw-document__header">
      <cw-document-control-panel
        [title]="data.name"
        (save)="handleDocumentSave()"
      />
    </header>

    <div
      class="cw-document__scrollport"
      cwAnnotationAdding
      cwDocumentScrollport
      [annotationsContainerRef]="annotationsContainerRef"
      [style.zoom]="zoomService.zoom()"
    >
      <div class="cw-document__body" cwDocumentDimensions>
        <cw-document-pages-list [pages]="data.pages"></cw-document-pages-list>

        <div class="cw-document__annotations" #annotationsContainerRef>
          @for (annotation of annotationsFormArray.controls; track annotation) {
            <cw-document-annotation
              [formControl]="annotation"
              (delete)="handleAnnotationDelete($index, $event)"
            />
          }
        </div>
      </div>
    </div>
  </article>
}
